body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1,h2,h3,h4.h5,h6{
    font-family: Verdana;
    letter-spacing: 1.5px;
}
.header .contenedor{
    display: flex;
    justify-content: space-between;
}
.logo, .icon{
    margin: 5px;
    color: #FFF;
}
.icon-menu{
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: #FBA919;
    color: #FFF;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}

.nav{
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    transition: all 0.5s;
}
.menu{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu__link{
    display: block;
    padding: 15px;
    background: #FBA919;
    text-decoration: none;
    color: #fff;
}
.menu__link:hover, .select{
    background: #fff;
    color: #FBA919;
}
.mostrar{
    left: 0;
}

/********************/
.banner{
    margin-top: -60px;
    position: relative;
    z-index: -1000;
    margin-bottom: 30px;
}
.banner .contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: #fff;
    text-align: center;
}
.banner__txt{
    display: none;
}

/*************************/
.info__columna{
    background: #FBA919;
    color: #FFF;
    padding: 15px;
    margin-bottom: 30px;
}